body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #8f98a5;
}

h1 {
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 1.5;
    letter-spacing: .12rem;
    color: #fff;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.05em;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 10% 7%;
    margin-top: 100px;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 1.1rem;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    transform: rotate(25deg);
    height: 100%;
    position: absolute;
}

#features {
    padding: 10% 15%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: rgb(107, 112, 119);
    transition: 100ms;
    margin-bottom: .55rem;
}

.icon:hover {
    color: rgb(174, 180, 189);
}

#testimonials {
    background-color: #8f98a5;
    font-family: 'Lilita One', cursive;
    color: #fff;
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #8f98a5;
    text-align: center;
    padding-bottom: 3%;
}

.test-img {
    width: 10rem;
    border-radius: 100%;
    margin: 20px;
}

.brands {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
}

.pricing-card {
    padding: 3% 2%;
}

.card-header {
    background-color: #8F98A5;
    color: #fff;
}

@media (max-width:990px) {
    .title-img {
        position: static;
        transform: rotate(0);
        height: 100%;
    }
    #title {
        text-align: center;
    }
}